@page
@model HRRoll.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" class="form-inline">
            <button type="submit" class="btn btn-link text-dark">Click here to log out</button>
        </form>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
    }
</header>
